#!/bin/sh
# HygraphCMS API configuration

export HYGRAPH_HIGH_PERFORMANCE_API='{{ onepasswordRead "op://Private/HygraphCMS/High Performance Content API" }}'
export HYGRAPH_AUTH_TOKEN='{{ onepasswordRead "op://Private/HygraphCMS/Permanent Auth Token" }}'
