#!/bin/sh
# JIRA API configuration

export JIRA_API_TOKEN='{{ onepasswordRead "op://Private/JIRA-Aspira/JIRA_API_TOKEN" }}'
export JIRA_URL='https://aspiraconnect.atlassian.net'
export CONFLUENCE_API_TOKEN='{{ onepasswordRead "op://Private/JIRA-Aspira/JIRA_API_TOKEN" }}'
