#!/bin/sh
# HygraphCMS API configuration

export HYGRAPH_HIGH_PERFORMANCE_API='{{ onepasswordRead "op://Software/HygraphCMS/High Performance Content API" }}'
export HYGRAPH_AUTH_TOKEN='{{ onepasswordRead "op://Software/HygraphCMS/Permanent Auth Token" }}'
